@import url('https://fonts.cdnfonts.com/css/craftwork-grotesk');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');


/*Standard web*/


/*grid layout*/
body{
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    font-family: 'Craftwork Grotesk', sans-serif;
    transition: background-color 0.5s ease;
    transition: font-family 0.5s ease;
}
.section{
    width: 50%;
    height: 97%;
}
.grid{
    padding: 12px;
    overflow: hidden;
}
#section-1-row-1{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
#section-1-row-1-column-1{
    width: 66%;
}
#section-1-row-1-column-2{
    width: 34%;
    font-size: 34px;
    font-weight: 400;
}
#section-1-row-2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
#section-1-row-2-column-1{
    width: 100%;
}
#section-1-row-3{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
#section-1-row-3-column-1{
    width: 100%;
}
#section-2-row-1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
#section-2-row-1-column-1{
    width: 50%;
}
#section-2-row-1-column-2{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
#section-2-row-1-column-2-row-1{
    height: 50%;
}
#section-2-row-1-column-2-row-2{
    height: 50%;
}
#section-2-row-2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
#section-2-row-2-column-1{
    width: 100%;
}


/*boxes*/
.box{
    border: 2px solid black;
    border-radius: 32px;
    width: 100%;
    height: 100%;
}
#box-1{
    background-color: #23C363;
    overflow-wrap: break-word;
    overflow: hidden;
    transition: background-color 0.5s ease;
}
h1{
    margin: 24px;
}
#section-1-row-1-column-2-text{
    font-size: 28px;
    margin-left: 0px;
    margin-top: 8px;
    margin-bottom: 4px;
    overflow-wrap: break-word;
    overflow: hidden;
}
#icon-arrow{
    width: 32px;
}
#icon-arrow2{
    width: 32px;
    display: none;
}
#icon-right-up{
    width: 32px;
    right: 0px;
    position: absolute;
    right: 24px;
    top: 24px;
}
#box-2{
    background-color: dodgerblue;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s ease;
}
#slider{
    position:absolute;
    width: 500px;
    height: 200px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    overflow:visible;
}
#combinedShape{
    fill: #2574CF;
    stroke: #000000;
    stroke-width: 2;
}
#rail{
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}
#knob{
    background-color: white;
    background-image: "assets/img/arrow-circle.png";
    width: 100px;
}
#textpath{
    letter-spacing: 5px;
}
#box-3{
    background-color: #FFC01D;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease;
}
h2{
    margin: 24px;
    font-weight: 400;
    z-index: 1;
    width: 60%;
}
#box-3-content{
    margin-top: 36px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 15px;
    font-family: 'circular_stdlight';
    font-weight: 400;
    line-height: 150%;
    display: none;
}
#box-4{
    position: relative;
    overflow: hidden;
    overflow: hidden;
    background-color: white;
    transition: background-color 0.5s ease;
}
#icon-right-down{
    width: 32px;
    position: absolute;
    right: 24px;
    top: 0px;
}
#bounce-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}
#box-4-text{
    z-index: 1;
    position: relative;
}
#box-4-content{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    display: none;
}
#bounce-1{
    position: absolute;
    bottom: 4px;
    left: 24px;
    width: 80px;
    height: 80px;
    background-color: #FA3736;
    border-radius: 1000px;
    animation: bounce-1 2.4s infinite alternate;
    -webkit-animation: bounce-1 2.4s infinite alternate;
}
#bounce-1.stop-bounce {
    animation: none;
    transform: translateY(0);
}
@keyframes bounce-1{
    from {
      transform: translateY(-128px);
    }
    to {
      transform: translateY(0px);
    }
}
#img-triangle{
    width: 80px;
}
#img-triangle2{
    width: 80px;
    display: none;
}
#bounce-2{
    position: absolute;
    bottom: 4px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80px;
    height: 80px;
    animation: bounce-2 2.8s infinite alternate;
    -webkit-animation: bounce-2 2.8s infinite alternate;
}
@keyframes bounce-2{
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-144px);
    }
}
#bounce-3{
    position: absolute;
    bottom: 4px;
    right: 24px;
    width: 80px;
    height: 80px;
    background-color: #FFD704;
    animation: bounce-3 2s infinite alternate;
    -webkit-animation: bounce-3 2s infinite alternate;
}
@keyframes bounce-3{
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-108px);
    }
}
#box-5{
    background-color: #E5E5E5;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease;
}
#box-5-content{
    margin-top: 36px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 15px;
    font-family: 'circular_stdlight';
    font-weight: 300;
    line-height: 150%;
    display: none;
}
#icon-left-down{
    width: 32px;
    position: absolute;
    right: 24px;
    top: 24px;
}
#box-6{
    background-color: #F68EAE;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease;
}
#box-7{
    background-color: black;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease;
}
#video{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    border-radius: 30px;
}
#video-to-image{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    border-radius: 30px;
    display: none;
}
#dither1{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    border-radius: 30px;
    display: none;
}
#dither2{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
    border-radius: 30px;
    display: none;
}
#box-7-text{
    z-index: 2;
    color: white;
    position: relative;
}
#box-7-title{
    width: 75%;
}
#box-7-content{
    margin-top: 36px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    font-size: 15px;
    font-family: 'circular_stdlight';
    font-weight: 300;
    line-height: 150%;
    display: none;
}
#icon-right-up-white{
    z-index: 2;
    width: 32px;
    position: absolute;
    right: 24px;
    top: 24px;
}
#blur{
    display: none;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    height: 100%;
	width: 100%;
    border-radius: 32px;
}




/*responsive design*/

/* Under 768px */
@media only screen and (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        overflow: scroll;
        font-family: 'Craftwork Grotesk', sans-serif;
        -ms-overflow-style: none;
        scrollbar-width: none;
        height: auto;
    }
    body::-webkit-scrollbar {
        display: none;
    }
    .grid{
        box-sizing: border-box;
        padding: 12px;
        overflow: hidden;
    }
    .section{
        width: 100%;
        height: 100%;
    }
    #section-1-row-1{
        width: 100%;
        height: 160px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    #section-1-row-2{
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    #section-1-row-3{
        width: 100%;
        height: 160px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    #section-2-row-1{
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    #section-2-row-1-column-1{
        height: 320px;
    }
    #section-2-row-1-column-2-row-1, #section-2-row-1-column-2-row-2{
        height: 160px;
    }
    #section-2-row-2{
        width: 100%;
        height: 320px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    #icon-right-up{
        width: 32px;
        right: 0px;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    h1{
        font-size: 24px;
        margin: 20px;
    }
    h2{
        font-size: 20px;
        margin: 20px;
        font-weight: 400;
        z-index: 1;
    }
    #box-3-content, #box-4-content, #box-5-content, #box-7-content{
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 16px;
        display: none;
    }
    #section-1-row-1-column-2-text{
        font-size: 22px;
        margin-left: 0px;
        margin-top: 4px;
        margin-bottom: 4px;
        overflow-wrap: break-word;
        overflow: hidden;
    }
}